<%= simple_form_for(@tool) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price_per_day %>
    <%= f.input :category, collection: ['outillage à main', 'outillage électroportatif',
                'outillage spécialisé', 'protection', 'équipement de chantier',
                "machine d'atelier"]%>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

  <div class="form-actions text-right">
    <%= f.button :submit, 'Submit', class: 'btn-primary' %>
  </div>
<% end %>
