<div class="p-3" >
  <%= simple_form_for(@tool) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :name, label: "Nom de l'outil" %>
      <%= f.input :description, label: "Description" %>
      <%= f.input :price_per_day, label: "Prix par jour", input_html: { min: 0 } %>
      <%= f.input :category, collection: ['Outillage à main', 'Outillage électroportatif',
                  'Outillage spécialisé', 'Protection', 'Équipement de chantier',
                  "Machine d'atelier"], label: "Catégorie" %>
      <%= f.input :photo, label: "Ajouter une photo" %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>

    <div class="form-actions text-right">
      <%= f.button :submit, 'Soumettre', class: 'btn-red', id:'add-tool' %>
    </div>
  <% end %>
</div>
