<div class="container">

  <div class="cards-grid">
    <% @tools.each do |tool| %>
    <div class="tool_card">
      <%= cl_image_tag(tool.photo.url) %>
      <div class="tool_card_infos">
        <h1><%= tool.name %></h1>
        <p><%= tool.category %></p>
      </div>
      <div class="tool_card_infos">
        <p><%= tool.description %></p>
      </div>
      <div class="tool_card_infos">
        <h2><%= tool.price_per_day %>€</h2>
        <p>par jour</p>
      </div>
      <div class="grid">
      <div class="tool_card_action">
        <%= link_to "Détails", tool_path(tool), class: "btn-red" %>
        <%= link_to "Modifier", edit_tool_path(tool), class: "btn-red" %>
      </div>
      </div>
    </div>
    <% end %>
  </div>


</div>

