<div class="container form_console little_search" style="width: 800px">
  <br>
  <%= render partial: 'pages/searchform' %>
</div>

<div class="container">
  <% if @search.present? %>
  <p style="color: #f6f6f6">Vous avez cherché l'outil <strong><%= @name %></strong>. Nous en avons trouvé <%= @tools.size %> parmi les <%= Tool.count %> disponible sur le site:</p>
  <% end %>
</div>

<div class="container">
  <div class="cards-grid">
    <% @tools.each do |tool| %>
    <div class="tool_card">
      <%= cl_image_tag(tool.photo.url) %>
      <div class="tool_card_infos">
        <h1><%= tool.name %></h1>
        <p><%= tool.category %></p>
      </div>
      <div class="tool_card_infos">
        <p><%= tool.owner.address %></p>
      </div>
      <div class="tool_card_infos">
        <h2><%= tool.price_per_day %>€</h2>
        <p>par jour</p>
      </div>
      <div class="tool_card_action">
        <%= link_to "Plus d'infos", tool_path(tool), class: "btn-red" %>
      </div>
      <div id="map<%= tool.id %>"  style="width: 400px; height: 100px; margin-right: 10px;"
        data-markers="<%= @markers.to_json %>"
        data-tool-id="<%= tool.id %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
      <% end %>
  </div>
</div>



