<div class="container">
  <div class="row text-justify">
    <div class="col-8 border m-3 p-3" style="background-color:white">
      <div class="d-flex">
        <div class="container text-center">
          <h1><%= @tool.name %></h1>
          <img style="width: 50vh" src=<%="#{@tool.photo}"%>>
        </div>
      </div>
    </div>

    <div class="col-3 border m-3 p-3 text-left" style="background-color:white">
      <div class="container border text-justify mb-3">
        <h3>Preparation</h3>
        <p><%= @tool.description %></p>
      </div>
      <div class="container border text-justify mb-3">
        <h4><%= '%.2f' % @tool.price_per_day %> € / day</h4>
      </div>


    <%= simple_form_for [@tool, @booking] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.input :start_date, as: :date, html5: true%>
        <%= f.input :end_date, as: :date, html5: true %>
      </div>


      <div class="form-actions">
        <%= f.button :submit %>
      </div>
         <% end %>

        <% if @tool.owner == @user %>
        <%= link_to "Edit Tool Info", edit_tool_path(@tool) %>
        <% else %>
        <% end %>





    </div>
  </div>
</div>



