<h1 class="text-center p-3">Change your password</h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<div class="container border p-3" style="width: 400px">
  <%= f.error_notification %>
  <div class="form-inputs">

    <%= f.input :password,
                hint: "laissez vide si vous ne voulez pas changer",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                hint: "Laissez vide si vous ne voulez pas changer",
                required: false,
                input_html: { autocomplete: "new-password" } %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :current_password,
                hint: "vous devez rentrer votre mot de passe actuel pour effectuer les modifications",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions text-right">
    <%= f.button :submit, "Update", class: "btn-primary" %>
  </div>
  <div>
    <%= link_to "Retour", :back %>
  </div>
<% end %>
</div>
