<br>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="container" style="width: 560px">
  <h2 class="text-center p-3">Sign up</h2>
  <div class="form-inputs border p-3">
    <%= f.error_notification %>
    <div class="d-flex justify-content-between">
      <div>
        <%= f.input :username,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Choose a username" }%>
      </div>
      <div>
        <%= f.input :mobile,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "Mobile Phone" }%>
      </div>
    </div>

    <%= f.input :address,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Address" }%>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Email" }%>
    <div class="d-flex justify-content-between">
      <div>
        <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
      </div>
      <div>
        <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
      </div>
    </div>



    <div class="form-actions text-right">
      <%= f.button :submit, "Sign up", class: 'btn-primary' %>
    </div>
    <% end %>
  </div>
</div>



