<div class="container text-center">
  <table>
    <thead>
      <th class="tool-name">Outil</th>
      <th class="tool-owner">Propriétaire</th>
      <th class="tool-from">De</th>
      <th class="tool-to">Jusqu'à</th>
      <th class="tool-status">Statut</th>
      <th class="tool-actions">Actions</th>
    </thead>
    <tbody>
    <% @bookings_as_renter.each do |booking| %>
      <tr class="reserv_card">
        <td class="tool-name"><%= link_to "#{booking.tool.name}", tool_path(booking.tool) %></td>
        <td class="tool-owner"><%= booking.tool.owner.username %></td>
        <td class="tool-from"><%= booking.start_date.strftime("%d/%m/%Y") %></td>
        <td class="tool-to"><%= booking.end_date.strftime("%d/%m/%Y") %></td>
        <% if booking.status == "approved" %>
          <td class="tool-status">Validé</td>
        <% else %>
          <td class="tool-status">En attente</td>
        <% end %>
        <td class="tool-actions">
          <div class="d-flex">
            <% unless booking.status == "rejected" || booking.start_date <= Time.now %>
          <%= link_to "Modifier", '#', class: "btn-blue reserv_btn" %>
          <%= link_to "Annuler", reject_booking_path(booking), method: "patch", data: { confirm: 'Are you sure?' }, class: "btn-red reserv_btn" %>
          <% end %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
