<div class="container form_console form_my_profile">
  <h3 class="text-center p-3" style="margin-top: 24px">Mon Profil</h3>
  <div class="d-flex">
    <div class="p-3">
      <%= cl_image_tag(current_user.avatar.url, width: 250, height: 250) %>
    </div>
    <div class="container">
      <%= simple_form_for(current_user) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :username,
                      required: true, label: "Identifiant",
                      input_html: { autocomplete: "Choose a username" }%>
          <%= f.input :mobile,
                      required: false, label: "Téléphone",
                      input_html: { autocomplete: "Mobile Phone" }%>
          <%= f.input :address,
                      required: true, label: "Adresse",
                      input_html: { autocomplete: "Address" }%>
        </div>

        <div class="form-actions text-right">
          <%= f.button :submit, "Modifier", class:"btn-red" %>
        </div>
      <% end %>

      <%= link_to "Modifier mot de passe", edit_user_registration_path %>
      </br>
      <%= link_to "Retour", root_path %>
    </div>
  </div>

</div>

