<div class="container d-flex">
  <div class="container">
    <%=link_to root_path do%>
      <h3>Brocraft</h3>
    <%end%>
  </div>
  <div class="container d-flex justify-content-end">
    <%= simple_form_for :search, url: search_tools_path, method: "GET", html: { class: 'form-inline', style: 'overflow: hidden'} do |f| %>
      <%= f.input :name, label: false, input_html: {value: "", placeholder: 'Search'} %>
      <%= f.button :submit, 'Search', class: "btn-success" %>
    <% end %>
  </div>
</div>


<%= link_to "Find more", '#' , class:'btn-blue'%>

